@charset "UTF-8";
@import "reset";
@import "fonts";
@import "navbar";
@import "variables";
@import "cardsplanes";
@import "extend";
@import "mixing";
@import "cardindex";
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/static/OpenSans/OpenSans-Regular.ttf);
}
/*home*/
.bodyy {
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 80px 300px 1fr 100px;
}

.bodyIndex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 105px 350px auto 150px 100px;
  grid-template-areas: "nav    nav    nav    nav    nav" "header header header header header" "main   main   main   main   main" "aside  aside  aside  aside  aside" "footer footer footer footer footer";
}

.bodyContac {
  grid-template-areas: "nav     nav     nav      nav" "header  header  header   header" "main    main    main     main" "footer  footer  footer   footer";
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading i {
  color: white;
  font-size: 64px;
  -webkit-animation-name: rotar;
          animation-name: rotar;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rotar {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotar {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.portadaindex {
  grid-area: header;
  background-repeat: no-repeat;
  background-image: url(../img/Vector_2646.jpg);
  background-size: cover;
  display: flex;
  justify-content: right;
  align-items: center;
}
.portadaindex-info {
  color: aliceblue;
  margin-right: 33px;
  margin-top: 10px;
  font-size: 23px;
}

@media (max-width: 576px) {
  .portadaindex {
    height: 200px;
  }
  .portadaindex-info {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .portadaindex-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .portadaindex-info h1 {
    font-size: 48px;
  }
  .portadaindex-info p {
    font-size: 24pxpx;
  }
}
main h2 {
  font-style: unset;
  height: 80px;
  background-color: #13171F;
  color: aliceblue;
  text-decoration: none;
  font-size: 46px;
}

main {
  grid-area: main;
  margin: 80%;
  text-align: center;
  background-color: #24262D;
  margin: 0px;
  font-style: italic;
  font-weight: 100;
  font-size: 45px;
  font-family: OpenSans-Regular;
}

.conteiner {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}
.slider {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-image: url(../img/four-team-members-expressing-togetherness.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-info {
  color: white;
  font-size: 100%;
  background-color: rgba(0, 0, 0, 0.507);
}

.asideindex {
  grid-area: aside;
  background-color: #24262D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputindex {
  width: 80%;
  height: 40px;
  font-size: 115%;
}

footer {
  grid-area: footer;
  background-color: #13171F;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

footer h2 {
  font-size: 20px;
}

footer .redescompañia {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 17px;
  color: white;
}

footer .locales {
  margin: 10px;
}

footer .locales h3 {
  margin-right: 0px;
}

footer .sucursal ul {
  display: flex;
  flex-direction: column;
}

/*somosms*/
.portadasomosms {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-image: url(../img/v617batch2-bb-01-technology.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portadasomosms-info {
  color: aliceblue;
  margin-right: 33px;
  margin-top: 10px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.507);
}

.subtituloms {
  font-style: unset;
  height: 80px;
  background-color: #13171F;
  color: aliceblue;
  text-decoration: none;
  font-size: 46px;
}

.bases {
  display: flex;
  width: 1010px;
  -moz-column-gap: 35px;
       column-gap: 35px;
  border-style: outset;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 90px;
  margin-bottom: 60px;
}

.bases img {
  width: 700px;
}

.bases-info {
  display: flex;
  font-size: 20px;
  color: white;
}

.subtituloMS {
  font-style: unset;
  height: 80px;
  background-color: #13171F;
  color: aliceblue;
  text-decoration: none;
  font-size: 46px;
}

.cardPadrems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 110px;
       column-gap: 110px;
  row-gap: 70px;
}

.card1ms {
  width: 250px;
  height: 400px;
  padding: 20px;
  margin: 5px;
  color: white;
}

.card__img1ms {
  width: 30%;
  margin: 5px;
}

.card__title1ms {
  margin: 2px;
  font-size: smaller;
}

.card2ms {
  width: 250px;
  height: 400px;
  padding: 20px;
  margin: 5px;
  color: white;
}

.card__img2ms {
  width: 30%;
  margin: 1px;
}

.card__title2ms {
  margin: 2px;
  font-size: smaller;
}

.card3ms {
  width: 250px;
  height: 400px;
  padding: 20px;
  margin: 5px;
  color: white;
}

.card__img3ms {
  width: 30%;
  margin: 2px;
}

.card__title3ms {
  margin: 2px;
  font-size: smaller;
}

.card4ms {
  width: 250px;
  height: 400px;
  padding: 20px;
  margin: 5px;
  color: white;
}

.card__img4ms {
  width: 30%;
  margin: 2px;
}

.card__title4ms {
  margin: 2px;
  font-size: smaller;
}

.asidems {
  width: 100%;
  height: 100px;
  background-color: #24262D;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*planes*/
.portadaplanes {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-image: url(../img/planess.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portadaplanes-info {
  color: aliceblue;
  margin-right: 33px;
  margin-top: 10px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.507);
}

.subtituloplanes {
  font-style: unset;
  height: 80px;
  background-color: #13171F;
  color: aliceblue;
  text-decoration: none;
  font-size: 46px;
}
/*bootstrap*/
.contenidoa {
  color: white !important;
}

.title {
  color: white;
  font-size: 75px;
}

.formulate {
  width: 600px;
  margin: auto;
  font-size: 25px;
}

.subtitle {
  margin-top: 30px;
}

.buttton {
  margin-top: 20px;
  background-color: #010712;
}

.bottonf {
  margin-top: 20px;
}

.contefluids {
  background-color: #010712;
  color: white;
}

.carousel-inner {
  max-height: 39rem;
}

.bodis {
  background-color: #24262D;
}